.user-mypagereport {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.userlist-title {
    display: flex;
    align-items: center;
    margin-top: 2em;
    margin-bottom: 0;
}

.report-category {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 1em;
}

.report-category-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 15px;
    margin: 0 1em;
}

.admin-user-report-title-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0 1em;
}

.admin-user-report-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    border-top: 1px solid #ddd;
}

.admin-user-report-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    border-bottom: 1px solid #ddd;
}

.admin-user-report-item-main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-grow: 1;
}

.admin-user-report-item-title {
    font-size: 15px;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.admin-user-report-item-date {
    font-size: 15px;
}

.admin-user-report-item-status {
    display: flex;
    align-items: center;
    flex: 0.5;
    width: 60px;
    height: 30px;
    text-align: center;
    justify-content: center;
    border-radius: 5px;
    background-color: #537FE7;
    color: #eee;
    font-size: 12px;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.admin-user-report-item-status-processing {
    background-color: red;
}

.admin-user-report-none {
    text-align: center;
    font-weight: bold;
    justify-content: center;
}

.modal-wrapper {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.modal-header {
    display: flex;
    align-items: center;
    text-align: center;
}

.modal-header h2 {
    margin: auto;
}

.modal-close {
    color: #aaa;
    float: right;
    font-size: 20px;
    font-weight: bold;
}

.modal-close:hover,
.modal-close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.modal-body {
    margin: 20px 0;
}

.modal-footer button {
    display: flex;
    align-items: center;
    flex: 0.5;
    width: 60px;
    height: 30px;
    text-align: center;
    justify-content: center;
    border-radius: 5px;
    background-color: #537FE7;
    color: #eee;
    font-size: 12px;
    white-space: nowrap;
    text-overflow: ellipsis;
}