.userlist-title {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 1em 0;
}

.user-mypagelist {
    padding: 10px;
    overflow: auto;
    flex-direction: column;
    align-items: center;
    margin: 0;
}

.member-list-container {
    display: flex;
    margin: 0 auto;
    padding: 20px;
    overflow-x: auto;
    max-width: calc(100% - 10px);
    /* 60px는 padding 값의 두 배 */
}

table {
    width: 100%;
    height: auto;
    border-collapse: collapse;
    text-align: center;
}

th,
td {
    border: 1px solid #ddd;
    padding: 10px;
    min-width: 5em;
}

th {
    font-weight: bold;
    background-color: #f5f5f5;
}

tbody tr:hover {
    background-color: #f5f5f5;
}

input[type='checkbox'] {
    margin-right: 10px;
}

.member-list-actions {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 1em 0;
}

.member-list-actions button {
    font-size: 1rem;
    padding: 0.5rem;
    margin: 1em;
    border-radius: 0.5rem;
    border: none;
    color: #fff;
    background-color: #0077ff;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}