.writeForm {
    width: 95%;
    align-items: center;
    justify-content: center;
    margin: -50px auto 30px 15px;
}

.writeTitle {
    border: 0px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.5);
    border-radius: 0;
}

.writeFormContent {
    margin: -20px 0 0 0;
}

.contentForm {
    height: 300px;
    font-size: 0.8rem;
    border-radius: 0;
}

.uploadInput {
    display: none;
}

.uploadImgDiv {
    margin: 0 auto 0 15px;
    width: 180px;
    
}

.listGroupItem {
    width: 260px;
}

.uploadImg {
    width: 240px;
    height: 160px;
    margin: 0 auto 0 -8px;
}

.uploadBtn {
    color: rgb(99, 94, 94);
    border-radius: 0.1rem;
    cursor: pointer;
    float: right;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: 0 60px 0 0;
    font-size: 0.7rem;
    width: 20px;
    height: 20px;
    opacity: 0.2;
}

.uploadBtnImg {
    width: 50px;
    height: 50px;
}

.imgDeleteBtn {
    border: none;
    background-color: white;
}

.imgTitle {
    margin: 8px 0 0px 0;
    text-align: center;
    font-weight: bold;
}

.imgDeleteBtnDiv {
    text-align: center;
}

.submit {
    background-color: #2d88ff;
    color: white;
    /* padding: 0.5rem 1rem; */
    border-radius: 0.25rem;
    cursor: pointer;
    align-items: center;
    margin-right: 60px;
    margin-left: auto;
}

.boardListBtn {
    margin-left: 10px;
    margin-right: 5px;
    
}

.btns {
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

/* BoardUpdate -----------------------------------*/

.h2_BoardUpdate {
    margin: -40px 0 60px 25px;
    font-size: 1.2rem;
    font-weight: bold;
}