.commentDiv {
    height: auto;
    margin-bottom: 10px;
    border-left: 1px solid #537fe738;
    overflow:auto;

}

/* .signUpLogoDiv {
    height: 30px;
    width: 40px;
    float: left;
    margin: 2px -10px -5px 2px;
} */

.commentProfileDiv {
    display: inline-block;
    margin: 2px -10px -5px 2px;
}

.commentContentDiv {
    display: inline-block;
    margin: -30px 0 10px 30px;
    text-align: start;
}

.commentProfileImg {
    border-radius: 50px;
    margin: 5px 10px -10px 5px;
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.commentNickname {
    display: block;
    float: left;
    margin: 0 0 0 30px;
    font-weight: bold;
    cursor: pointer;
}

.commentNickname:hover {
    color: #537FE7;
}

.comment {
    display: block;
    margin: 0 0 0 30px;
    float: left;
    text-align:initial;
    
}

.writeReply {
    display: block;
    color: #537FE7;
    margin: 10px 0 0 29px;
    float: left;
    cursor: pointer;
}

.commentDate {
    display: inline;
    float: right;
    margin: 2px 5px 0 0;
    font-size: 0.7rem;
    color: gray;
}

/* replyDiv -------------------------------------*/

.replyDiv {
    height: auto;
    margin: 0 0 20px 60px;
    border-left: 1px solid #537fe738;
    overflow:auto;
}