footer {
    position: relative;
    background-color: #f5f5f5;
    padding: 1rem;
}

.footerContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

img {
    width: 100px;
    margin-bottom: 1rem;
}

.socialIcons {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

p {
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 0;
    font-size: 12px;
}