/* 로그인, 회원가입 버튼을 포함하는 부모 div */
.headerBtns {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px;
}

/* 로그인, 회원가입 버튼 */
.headerBtns button {
    margin-right: 10px;
    font-size: 12px;
}

/* 두 번째 줄 header 카테고리를 포함하는 부모 div */
.headerCategoryContainer {
    display: flex;
    overflow-x: hidden;
}

/* 카테고리 목록 ul */
.nav-tabs {
    display: inline-flex;
    flex-wrap: nowrap;
    /* 줄바꿈 금지 */
    padding: 10px;
    padding-bottom: 0;
}

/* 카테고리 목록 li */
.nav-item {
    margin-right: 10px;
    font-size: 14px;
    white-space: nowrap;
    /* 줄바꿈 금지 */
}

/* 카테고리 폰트 색상 */
.nav-link {
    color: #484848 !important;
    padding: 5px 10px;   /* 링크 내용의 패딩 조절 */
}

/* 활성화된 카테고리 링크 */
.nav-link.active {
    background-color: #fff;
    color: #537FE7 !important;
    border-color: #dee2e6 #dee2e6 #fff;
}

/* hover 시 색상 변경 */
.nav-link:hover {
    color: #537FE7 !important;
}

/* 숨긴 카테고리 목록 */
.hidden-nav-tabs {
    position: absolute;
    left: -1000em;
    /* 왼쪽에 숨김 */
}

.headerCategoryContainer:hover .hidden-nav-tabs {
    left: 0;
}