/* 로그인, 회원가입 버튼을 포함하는 부모 div */
.headerBtns {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px;
}

/* 로그인, 회원가입 버튼 */
.headerBtns button {
    margin-right: 10px;
    font-size: 12px;
}

/* 카테고리를 포함하는 부모 div */
.headerCategoryContainer {
    background-color: #f8f9fa;
}

/* 카테고리 목록 ul */
.nav-tabs {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

/* 카테고리 목록 li */
.nav-item {
    margin-right: 10px;
    font-size: 14px;
}

/* 활성화된 카테고리 링크 */
.nav-link.active {
    background-color: #fff;
    color: #000;
    border-color: #dee2e6 #dee2e6 #fff;
}