/* 슬라이더 컨테이너 */
.homeSlider {
    position: relative;
    display: block;
}

.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
  margin: 0; 
}

/* 이미지 슬라이드 */
.slick-slide img {
  width: 100%;
  height: auto;
}

.slick-slide {
    position: relative;
}

/* 슬라이더 내부 버튼 */
/* .slick-prev,
.slick-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
} 
*/

.slick-prev {
  left: 0;
}

.slick-next {
  right: 0;
}

.slick-dots {
    display : hidden;
}

.containerIh {
    position: relative;
    display: flex;
    margin: 0.8em auto;
    width: 100%;
    height: auto;
    justify-content: center;
}

.testmap {
    display: block;
    width: 100%;
    height: auto;
    /* border: 1px solid green; */
}

.testlist {
    width: 100%;
    height: auto;
    margin: 0 auto;
    border: 1px solid orange;
}

.mainlist:hover {
    opacity: 0.5;
}

/* 전체 추천 게시글 박스 div */
.recommendation {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    width: 90%;
    margin: 1em auto;
    text-align: center;
    border: 1px solid #ccc;
    justify-content: center;
}

.recommendation-title {
    display: block;
    width : 100%;
    margin-bottom: 10px;
    background-color: #eaeaea;
    justify-content: center;
}

.recommendation-title p {
    font-size: 0.9em;
    margin: 7px;
}

.image-wrapper {
    width: 120px;
    height: 120px;
}

/* image-wrapper div 내부 이미지 */
.image-wrapper img {
    width: 100%;
    height: 100%;
}

.image-map-go {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.stars-wrapper {
    font-size: 1.5em;
    display: flex;
    justify-content: center;
}

.star {
    color: #ffd700;
}

.image-map-go p {
    margin-top: 3px;
    margin-bottom: 5px;
    font-size: 12px;
}

.boardTitle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 3px;
}

.boardTitle h7 {
    font-size: 15px;
    font-weight: bold;
    margin-right: 10px;
}

.boardContent {
    display: flex;
    align-items: center;
}

.boardContent p {
    font-size: 13px;
    margin: 5px;
}