.loginBox {
    margin: auto;
    padding-top: 40px;
    max-width: 500px;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.KaKao-loginBtn {
    height: 46px;
    width: 100%;
    border: none;
    cursor: pointer;
    background-image: url('../../public/img/kakao_login.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.Naver-loginBtn {
    height: 50px;
    width: 100%;
    margin: 20px auto;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-image: url('../../public/img/naver_login.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.loginBtn button {
    width: 80%;
    margin-bottom: 10px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #4c8bf5;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

.inputBox input[type="email"],
.inputBox input[type="password"] {
    width: 80%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #f4f4f4;
    margin-bottom: 10px;
}

.registerBox {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.registerBox p {
    margin-bottom: 10px;
    font-size: 14px;
}

.registerBox button {
    border: none;
    background-color: transparent;
    color: #4c8bf5;
    font-size: 14px;
    cursor: pointer;
}