/* full-bg 클래스를 가진 section 요소를 화면 전체에 꽉 차게 배치 */
.full-bg {
    position: fixed;
    /* 스크롤에 영향을 받지 않도록 고정 */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../../public/img/bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

/* 배경 웹사이트 설명 공간*/
.left-bg {
    position: relative;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    /* 세로 가운데 정렬 */
    height: 100%;
    width : 50%;
    background-color: #f0f0f08b;
}

.logo {
    padding-top: 20%;
    padding-left: 15%;
    margin-bottom: 2rem;
}

.logo img {
    width: 11em;
    height: auto;
}

.main-left {
    text-align: center;
    justify-content: center;
}

.main-left h1 {
    font-size: 1.8rem;
    font-weight: bold;
    margin: 2em 0 5px 0;
}

.main-left img {
    width: 3em;
    height: auto;
}

/* =========================================*/

/* main 요소 모바일 크기 고정 */
main {
    position: absolute;
    /* full-bg를 기준으로 배치 */
    top: 50%;
    left: 50%;
    transform: translate(0%, -50%);
    width: 375px;
    /* 모바일 평균 크기로 지정 */
    height: 100%;
    background-color: #ffffff;
}

/* 본문 내용을 담는 section 요소를 Header와 Footer 사이에 배치 */
main section:last-of-type {
    margin-top: 50px;
    margin-bottom: 50px;
}

/* RouteTripSection -------------------------------*/

.RouteTripSection {
    overflow: scroll;
}