.inquiryadminbox{
    /* border: 1px solid black; */
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inquiryadminbox1{
    float: left;
    text-align: center;
    padding: 10px 20px;
    /* margin-left: 15px; */
}

.inquiryadminbox2{
    float: left;
    text-align: center;
    padding: 10px 20px;
}

.inquiryadminbox3{
    float: left;
    text-align: center;
    padding: 10px 20px;
}

.inquiryadmincount{
    font-size: 12px;
}

.inquiryadminusername{
    text-align: right;
    font-size: 14px;
    margin-bottom: -10px;
}

.inquiryadminDetailContent{
    margin-top: 20px;
}

.inquiryadminStatus{
    position: absolute;
    right: 30px;
    margin-top: -10px;
    padding: 0 5px;
    font-size: 14px;
    text-align: center;
    width: auto;
    border: 1px solid #537FE7;
    border-radius: 5px;
    background-color: #537FE7;
    color: #eee;
    font-size: 12px;
}

.inquiryadminStatusWait{
    position: absolute;
    right: 30px;
    margin-top: -10px;
    padding: 0 5px;
    font-size: 14px;
    text-align: center;
    width: auto;
    border: 2px solid red;
    border-radius: 5px;
    /* background-color: #537FE7; */
    color: red;
    font-size: 12px;
}

.inquiryadminStatusComplete{
    position: absolute;
    right: 30px;
    margin-top: -10px;
    padding: 0 5px;
    font-size: 14px;
    text-align: center;
    width: auto;
    border: 2px solid #537FE7;
    border-radius: 5px;
    /* background-color: #537FE7; */
    color: #537FE7;
    font-size: 12px;
}