.myReviewDetailPage_wrapper {
  margin: 0 6%;
}
.myReviewTitle {
  font-size: 1.3rem;
  font-weight: bold;
  margin: 30px auto 30px 0;
  color: #537fe7;
}

.hr-line {
  border-top: 1px solid rgb(121, 121, 121);
  width: 100%;
  height: auto;
}

.myReviewBtns {
  margin: 30px 0;
  margin-left: 42%;
}

.btn-sm {
  margin: 5px;
}
