.RecomendBody {
    margin: auto;
    
}

.h2_Recomend {
    font-size: 1.3rem;
    font-weight: bold;
    margin: 30px auto 10px 30px;
    color: #537FE7;
}

.h3_Recomend {
    font-size: 1.2rem;
    font-weight: bold;
    margin: 50px auto 0px 40px;
}

.searchBar {
    margin: 10px 5px 10px auto;
    font-size: 0.7rem;
}

.searchBtn {
    margin: 10px auto 10px 0;
}

.recomendWriteBtn {
    float: right;
    margin: -10px 35px 10px auto;
}

/* Recomend_best-------------------------------- */

.recommendBestCardText {

}

.recommendCard {
    margin: 30px auto 10px auto;
    cursor: pointer;
}

.recommendCardTitle {
    font-weight: bold;
    font-size: 1rem;
    margin: -5px 0 10px 0;
}

.recommendIcon {
    color: #252525af;
}

.p_recommendWriter {
    font-size: 1rem;
    margin: 0 20px 10px auto;
    display: inline;
    cursor: pointer;
}

.p_recommendWriter:hover {
    color: #537FE7;
}

/* Recomend_viewall-------------------------------- */

.listGroup {
    margin: 30px auto 30px auto;
    width: 90%;
}

.recommendListItem {
    display: flex;
    padding: 3px 0 3px 3px;
    vertical-align: middle;
    justify-content: center;
}

.recommendViewallImgDiv {
    display: inline-block;
    width: 50px;
    height: 50px;
    margin: 0 10px 0 -20px;
}

.recommendViewallDiv {
    display: inline-block;
    width: 200px;
    margin: 0px 0 0 0;
}

.listGroupImg {
    width: 50px;
    height: 50px;
    display: inline-block;
    margin-right: 20px;
    
}

.listGroupText {
    display: inline;
    font-weight:600;
    font-size: 0.8rem;
}

.pagenation {
    margin: 10px auto 30px auto;
}

/* Recomend_detail-------------------------------- */

.h4_Recomend {
    display: inline-block;
    font-size: 1rem;
    font-weight: bold;
    margin: 30px auto 10px 40px;
}

.hr_Recomend {
    width: 90%;
    margin-left: 20px;
}

.p_recomend {
    font-size: 1rem;
    font-weight: bold;
    margin: 0 20px 10px auto;
    float: right;
    display: block;
    cursor: pointer;
}

.p_recomend:hover {
    color: #537FE7;
}

.RecomendDetailBody {
    /*display: flex;*/
    justify-content: center;
    align-items: center;
    
}

.RecomendDetailImg {
    display: block;
    margin: 0 auto 10px auto;
    width: 300px;
    height: 200px;
   
}

.RecomendDetailP {
    display: block;
    margin: 0 auto 10px auto;
    width: 70%;
}

.cardRecomendDetail {
    width: 85%;
    background-color: rgb(218, 216, 216);
    margin-left: 28px;
}

.cardRecomendDetailBody {
    margin: 0 auto 10px 10px;
    font-size: 0.8rem;
}

.jangso {
    font-weight: bold;
    font-size: 1.3rem;
}

.cardRecomendDetailBodyAlert {
    margin: 0 auto 10px 10px;
    font-weight: bold;
    font-size: 0.9rem;
}

/*추천해요, 저장할래요 div*/
.thumbsHeart {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: 0 auto 10px 40px;
}

.thumbs {
    margin: 30px;
    text-align: center;
}

.heart {
    margin: 30px;
    text-align: center;
}

.thumbsHeartText {
    font-weight: bold;
    justify-content: center;
    align-items: center;
}

.thumbsHeartSpan {
    margin: 0 10px 0 10px;
    display: inline;
    padding: 0 10px 0 15px;
}

.btn-lg {
    display: inline;
}


.thumbsHeartIcon {
    
    display: inline;
    font-size: 2rem;
}

.thumbsHeartIcon:hover {
    color: #537FE7;
    opacity:0.9;
}

.Div_boardListBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px auto 30px auto;
}

.boardListBtn {
    align-items: center;
    justify-content: center;
}

.reportBtnDiv {
    display: inline;
    margin-left: 60px;
    margin-right: -110px;
}

.reportBtn {
    text-align: center;
    font-size: 5px;
    width: 46px;
    padding: -10px;
}

/* Recomend_write --------------------------------------*/

.recomendP {
    font-size: 1rem;
    font-weight: bold;
    float: left;
    clear: both;
    margin-left: 10px
}

.radioBtnDiv {
    margin: 0 auto 40px 60px;
}

.btnGroup {
    margin: 0 10px 0 0;
    border-radius: 0;
}

.btnGroup:hover {
    background-color: #6c757d;
    color: #fff;
  }

.btnGroup:active {
    background-color: #007bff;
    color: #fff;
}

.form-check {
    clear: both;
}

.recomendCheckDiv {
    margin-left: 20px;
}

/* BoardDetail ------------------------------------*/

.boardCommentDiv {
    border: 0px;
    border-radius: 2px;
    width: 300px;
    height: auto;
    margin: 0 0 0 30px;
}

.boardListBtnDetailDiv {
    margin-left: 230px;
    
}

.detailReportBtnDiv {
    display: inline;
    float: right;
    margin: 30px 20px 0 0;
}

/* writeCommentDiv  --------------------------------*/

.writeCommentDiv {
    margin: 20px 0 0 30px;
    text-align: center;
}

.writeCommentTextarea {
    display: inline-block;
    border: 1px solid rgba(128, 128, 128, 0.3);
    border-radius: 1px;
    width: 300px;
    height: 90px;
    font-size: 0.7rem;
    margin: 20px 0 0 -25px;
}

.writeCommentBtn {
    text-align: center;
    margin: 10px 0 0 213px;
    font-size: 0.7rem;
}
