/* RaitingSection ---------------------------------------- */

.raitingContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.starDiv {
    text-align: center;
    display: block;
    clear: both;
}

.ratingIndexText {
    
    line-height: 35px;
    display: block;
    clear: both;
    font-size: 0.8rem;
}

/* ReviewWrite ------------------------------------------- */

.reviewWriteCheckBoxDiv {
    display: flex;
    justify-content: center;
    margin: 20px 0 0 0;
    font-size: 0.8rem;
}

.reviewRatingP {
    display: block;
    color: #537FE7;
    font-weight: bold;
    clear: both;
    margin: 20px auto 30px 20px;
    text-align: center;
    font-size: 1.2rem;
}

.reviewRatingComponent {
    text-align: center;
    margin: 0 0 0 -20px;
}

.whiteSpace {
    width: 300px;
    height: 77px;
}

.reviewCostInputFormControl {
    margin: 0 0 0 10px;
    width: 100px;
     border:1px solid rgba(128, 128, 128, 0.5);
    border-radius: 2px;
    
}

.reviewCostInputFormControl::placeholder {
    float: right;
}

.reviewWriteCostInput {
    width: 100px;
}


.reviewTd {
    font-size: 0.8rem;
    line-height: 3;
    border-collapse : collapse;
    vertical-align: bottom;
    color: #537FE7;
    margin: 0 0 0 35px;
    font-weight: bolder;
}

.reviewWriteCompareOptionForm {
    clear: both;
    display: inline-block;
    margin: 8px 100px 0 0;
}

.fasd {
    width: 30px;
    height: 30px;
    color: #ffb950  ;
}

.reviewWriteTable {
    margin: 30px 0 0 35px;
}

.reviewWriteRadioBoxDiv {
    margin: 35px 0 0px 65px;
    font-size: 0.9rem;
    
}

.reviewWriteRadioBoxP {
    font-size: 0.8rem;
    line-height: 3;
    border-collapse : collapse;
    vertical-align: bottom;
    color: #537FE7;
    margin: 0px 0 0 -30px;
}

.reviewWriteForm {
    padding: 20px;
    width: 95%;
    margin: 10px auto -30px auto;
}