* {
  margin: 0;
  padding: 0;
}

.wrapper {
  margin: 0 auto;
  padding: 10px;
}

.selectBox {
  display: inline-block;
  margin: 10px 1.5%;
  padding: 20px;
  border: 1px solid #537fe7;
  font-size: 12px;
  border-radius: 20px;
  width: 156px;
  height: 100%;
  box-shadow: 3px 3px 3px #b0b0b0;
}

.selectBox:hover {
  background-color: #537fe7;
  color: #ffffff;
  cursor: pointer;
  transform: all ease 2s 0s;
}

.boardTitle {
  font-size: 18px;
  font-weight: 600;
}

.boardExplain {
  margin-top: 10px;
  font-size: 12px;
  font-weight: 100;
}

.totalBoardTitle {
  font-size: 1.3rem;
  font-weight: bold;
  margin: 30px auto 10px 30px;
  color: #537fe7;
}

/* RegionBoardList.js */
.div_boardwrite_btn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px auto 30px auto;
}

.boardwrite_btn {
  align-items: center;
  justify-content: center;
  font-size: 15px;
}