* {
  margin: 0;
  padding: 0;
}

.wrapper {
  margin: 0 auto;
  padding: 10px;
}

.selectBox {
  display: inline-block;
  margin: 12% 5.5%;
  padding: 5px;
  border: 1px solid #bfc7d9;
  color: #2c2c2c;

  background-color: #ffffff;
  font-size: 12px;
  text-align: center;
  border-radius: 20px;
  width: 130px;
  height: 50px;
  cursor: pointer;
  box-shadow: 3px 3px 3px #b0b0b0;
}

.selectBox:focus {

  background-color: #e0e0e0;
  cursor: pointer;
  color: #2c2c2c;

  transform: all ease 2s 0s;
}

.boardTitle_select {
  font-size: 16px;
  font-weight: 600;
  text-align: center;

}

.RegionSelectBtns {
  margin-left: 40%;
}

.RegionSelectBox {
  margin: 3%;
  margin-bottom: 30px;

}

/* .boardExplain {
  margin-top: 10px;
  font-size: 12px;
  font-weight: 100;
} */
.totalBoardTitle {

  margin: 10px 15px 0 15px;

  font-size: 1.3rem;
  font-weight: 600;
  color: #537fe7;
}

/* RegionBoardList.js */
.div_boardwrite_btn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px auto 30px auto;
}

.boardwrite_btn {
  align-items: center;
  justify-content: center;
  font-size: 15px;
}
