.user-mypage {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.user-profile {
    display: flex;
    align-items: center;
    margin-top: 1rem;
}

.profile-image {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: #d5edff;
    margin: 1em 1em 0 0;
}

/*=================사용자 닉네임===================*/

.user-nickname {
    display: inline-block;
    margin: 1em 1em 0 0;
}

.user-nickname-edit {
    display: inline-block;
    width: 10em;
    border: none;
    border-bottom: 1px solid #ccc;
    margin: 1em 1em 0 0;
}

.user-nickname-edit:focus {
    outline: none;
    border-color: #0077FF;
}

.user-nickname-icon {
    display: inline-block;
    margin-right: 10px;
    cursor: pointer;
}

.user-nickname-icon svg {
    vertical-align: middle;
}

.user-nickname-form.edit-mode .user-nickname-submit {
    display: inline-block;
    margin-left: 10px;
}

.user-nickname-form.edit-mode .user-nickname-cancel {
    display: inline-block;
    margin-left: 10px;
}

.edit-buttons button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    padding: 0;
    margin: 1em 10px 0 0;
}

.edit-nickname-button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    padding: 0;
}

.edit-nickname-button .edit-icon {
    display: inline-block;
    margin: 1em 10px 0 0;
}

/*====================================*/

.hr-line {
    border-top: 1px solid #626262;
    width: 80%;
    height: 1px;
}

.user-category {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1em;
}

.category-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 15px;
    margin: 0 2em;
}

.category-count {
    font-size: 15px;
    color: rgb(26, 107, 187);
    font-weight: bold;
}

/*============마이페이지 링크 이동 리스트=================*/

.user-sections {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    border-top: 1px solid #ccc;
    margin-top: 1em;
}

.user-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    width: 100%;
    min-height: 3.3em;
    padding: 7px;
    border-bottom: 1px solid #ccc;
}

.user-section-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 1rem;
    margin-left: 2em;
    width: 37px;
    height: 37px;
    border-radius: 50%;
    background-color: #537FE7;
}

.user-info-icon {
    color: #ffffff;
}

.user-section-title {
    font-size: 15px;
    font-weight: 500;
    color: #222;
    flex-grow: 1;
}

.user-section-icon2 {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 40px;
    height: 40px;
}

.user-info-icon2{
    color: #646464;
}